{% extends "templates/base.html" %}

{% block "title" %}Timelapse Beehive{% endblock %}

{% block "heading" %}Timelapse Beehive{% endblock %}

{% block "main" %}
<div class="inner cover">
  <h1 class="cover-heading">FAQ</h1>
  
  <h3>Why?</h3>
  <p>Becuase I'm curious about how bees sound inside the hive. Becuase I want to know what a bee sounds like if no-one's listening.</p>

  <h3>Where are all the sound recordings?</h3>
  <p>This project is in its very early stages. There's no data yet, but it's days away. Hopefully by mid-June 2015 there will be!</p>

  <h3>Do you have a blog?</h3>
  <p>Yes, <a href="http://blog.afandian.com/category/bees/">my blog is here</a> with some more personal reflections.</p>

  <h3>Technology?</h3>
  <p>A custom-written piece of software runs on an Android device (Nexus 7 tablet just because I happened to have one). It uploads recordings to a web server (written in Clojure). This then stores samples and splices them together. The splicing and spectrograms is done with the excellent <a href="https://github.com/cbagwell/sox">SoX</a>.

  <h3>Open source?</h3>
  <p>Yes, everything. The Android application is <a href="https://github.com/afandian/timelapsebeehive-recorder">Time Lapse Beehive Recorder</a>. The server is <a href="https://github.com/afandian/timelapsebeehive">Time Lapse Beehive</a>.</p>

  <h3>What about bees and mobile phones?</h3>
  <p>There's a highly criticised paper that says mobile phones damage bees' ability to navigate. It's pretty much discredited. That said, I was cautious about putting a mobile phone right up against a beehive. So my routine is to unplug the tablet, take it home and upload over wifi.</p>
  <p>If you want to run this software, it could be easily changed to upload over a mobile connection if you wanted.</p>

  <h3>Where does the poetic name 'Timelapse Beehive Recorder' come from? What inspired it?</h3>
  <p>It's English. I went through a <em>lot</em> of Latin and Greek words, but you can't beat prosaic, obvious words. It seemed to work for <a href="http://folktunefinder.com">FolkTuneFinder</a></p>

  <h3>I want to record my bees!</h3>
  <p>Please do! Email me at joe@afandian.com and we can discuss. This site is just waiting for more people to upload stuff.</p>

  <h3>I want to take timelapse recordings, but not of bees.</h3>
  <p>The Android application doesn't have to be used in a beehive. You can get the wav files off the device like any other file. Mail me at joe@afandian.com to discuss.</p>
</div>
{% endblock %}