{% extends "templates/base.html" %}

{% block "title" %}Timelapse Beehive{% endblock %}

{% block "heading" %}Timelapse Beehive{% endblock %}

{% block "main" %}
<div class="inner cover">
  <h1 class="cover-heading">{{hive.name}}</h1>
  
  <p class="lead">I'm still waiting for my bees to arrive so there are no recordings yet. But the equipment's set up and ready to record as soon as they do!</p>

  <p class="lead">You can <a href="http://blog.afandian.com/category/bees/">follow along on my blog</a>, if you like that kind of thing.</p>
  
</div>
{% endblock %}