{% extends "templates/base.html" %}

{% block "title" %}Timelapse Beehive{% endblock %}

{% block "heading" %}Timelapse Beehive{% endblock %}

{% block "main" %}
<div class="inner cover">
  <h1 class="cover-heading">What do bees sound like? </h1>
  <p class="lead">Bees are affable and personable creatures. You probably know what one sounds like.</p>
  <p class="lead">What about 40,000? How does the inside of a beehive sound? Does it change through the day? Through the year?</p>
  <p class="lead">The only thing for it is to put a microphone in a beehive and take sound recordings in time-lapse.</p>
  <p class="lead">
    <a href="/story" class="btn btn-lg btn-default">The story</a>
    <a href="/hives/1" class="btn btn-lg btn-default">Listen to my beehive</a>
  </p>
  </div>
{% endblock %}