{% extends "templates/base.html" %}

{% block "title" %}Timelapse Beehive{% endblock %}

{% block "heading" %}Timelapse Beehive{% endblock %}

{% block "main" %}
<div class="inner cover story">
  <h1 class="cover-heading">Why would you do this?</h1>
  <p class="lead">I have always wanted to keep bees. Recently I made good on 20 years' ambition and got a hive.</p>
  <p>Beekeeping involves knowing what's going on inside the hive. It's necessary to make regular inspections (at the start of summer, once a week). The beekeeper dons a protective veil, lights the ceremonial smoker, prizes the hive open and inspects every frame.</p>
  <img class="img-responsive" src="/images/inspection.jpg" alt="Beehive inspection" />
  <p>A beekeper generally knows at any given time how much food the bees have, how much room they have to move around, if the hive has a queen, whether she's laying, what's she's laying, whether the bees are thinking about swarming, various dieases, etc.</p>
  
  <p>The bees don't seem to mind</p>
  
  <img class="img-responsive" src="/images/frames.jpg" alt="Frames in a beehive" />

  <p>As you open the hive, the sound the bees make constantly changes. They might be angry, confused, or just fed up that you're taking so long and they're getting cold. The constant change in the volume and pitch of the collective hum is, like most things about bees, completely magical.</p>

  <h3>But what do they get up to when I'm away?</h3>

  <p>I thought it would be fun to stick a microphone in a hive and take recordings. But 24 hours of buzzing, even for the advanced level bee enthusiast who's collected all his stripes, could get monotonous. What would be interesting would be to know if the volume of their humming changes throughout the day, or the frequency. Maybe when no-one's listening they don't hum at all, and aren't embarrassed about singing the words.</p>

  <p>There have been other studies and other projects, but they all seem to involve lots of complicated setup and, crucially, lots of trailing wires. That isn't an option for me. My hive is close to my home, but not that close.</p>

  <p>So I went with the option of an Android tablet computer (which was kind of broken anyway), a customised microphone, a waterproof case and a solar panel. I will take the tablet away and upload the recordings at regular intervals.</p>

  <p>That's as far as the story goes so far. I'm still waiting for my colony of bees to be ready. But when they're ready, so will I be, with a microphone.</p>

  <p>You can <a href="http://blog.afandian.com/category/bees/">follow along on my blog</a>.</p>

</div>
{% endblock %}