{% extends "templates/base.html" %}

{% block "title" %}Timelapse Beehive{% endblock %}

{% block "heading" %}Timelapse Beehive{% endblock %}

{% block "main" %}
<div class="inner cover story">
  <h1 class="cover-heading">Why would you do this?</h1>
  <p class="lead">I have always wanted to keep bees. Recently I made good on 20 years' ambition and got a hive.</p>

  <p>This is a cut-down version of <a href="http://blog.afandian.com/2015/06/the-timelapse-beehive/">my blog post</a>. I recommend you <a href="http://blog.afandian.com/2015/06/the-timelapse-beehive/">read that</a> for more detail.</p>

  <h2>What</h2>
  <p>When you encounter a bee in the wild, you can hear how it sounds. It's probably flying, or buzzing to warn you that it has a sting and could totally take you. But it's one bee on its own.</p>
  <p>The beehive is an extraordinary macro-organism. It's a huge co-operative mass of animals all doing their own thing, but to the same end. But they're not just co-operating.</p>
  <p>They're taking group decisions as a whole, like whether another queen should be produced, or whether to swarm, or if the hive is too hot or too cold and needs air conditioning.</p>
  <p>I thought the sound of a beehive might be a good insight into some of the processes going on.</p>
  <p>You can hear individual bees that you meet, you can hear the inside of a hive when you open it to inspect it, but behind closed doors, when no-one's looking or listening, how do they sound?</p>
  <p>Bees are some of the most studied animals in the world, although I'm not sure if that would be true if you divided that per capita. Recording bees isn't something new. I know someone who knew someone who was recording beehives in the 1950s. I found a couple of projects online, but they seemed a bit over-complicated, and academic, and not really suitable. Most of all, they involve  trailing wires.</p>

  <p>So I decided to make my own.</p>
  
  <h2>What exactly did I decide to make?</h2>
  <p>I could have stuck a microphone in a hive and pressed record. No doubt I would have got - you're ahead of me here - a recording of some buzzing. That would be an interesting one-off, but it wouldn't really tell me much except that bees don't stop buzzing once they go indoors.</p>
  <p>What would be interesting to do would be to compare how they sound during the day to how they sound during the night. Or how they sound in the summer compared to the winter.</p>
  <p>So I decided that I wanted something to take small recordings on a timer, then splice them together to form a time-lapse.</p>

  <p>To do this I needed to make something. Some kind of device...</p>
  
  <h2>Why?</h2>
  <p>A bee-keeper needs to know his bees. They're not just a box at the bottom of the garden. For this reason a beekeeper has a veil and smoker and undertakes the ritual of the opening of the hive for inspection.</p>

  <img src="/images/inspection.jpg" alt="inscription." class="img-responsive" />

  <p>That's me, behind the camera taking the photo.</p>
  <p>The purpose of opening the hive is to know exactly what's going on. A bee-keeper should know, at all times, if the queen is laying eggs, if they're healthy, how many there are, if the bees have enough food and elbow room, if they're suffering from disease, and so on. Adding an extra bit of information is surely a good thing.</p>

  <img src="/images/inspection1.jpg" alt="inspection1" class="img-responsive" />

  <p>As you open the hive, the sound the bees make constantly changes. They might be angry, confused, or just fed up that you're taking so long and they're getting cold. The constant change in the volume and pitch of the collective hum is, like most things about bees, completely magical.</p>

  <p>A timelapse over the course of a day might show a daily cycle of something. Perhaps they get cold at night and need to shiver to keep warm. Perhaps they get to warm in the day and need to fan to keep cool.  A timelapse over a year might show that they don't do much over winter. Or it might show that they're very busy keeping warm. It's a very bad idea to open a hive and look inside when it's cold, but if a microphone's installed, I can listen to them any time.</p>
  
  <h2>Where do you put a microphone in a beehive?</h2>
  <p>There is something magical about bees. One of the magical things is the 'bee space'. It's a measurement of approximately 7mm, the width of a bee. Bees like everything to be tidy and connected. They want to be able to crawl between things, work on the comb back-to-back, and for all holes they can't crawl through to be sealed up. If a gap is smaller than the bee space, they will fill it up with propolis, which is a sticky substance made from resin. If a gap is larger than the bee space, they will fill it with wax comb. Of course, it's more complicated than that.</p>

  <p>All modern hives are made with the bee-gap in mind. They are very carefully engineered so they can be taken apart and the frames removed, but the bees won't try to glue anything up. So there isn't actually much space to put extra objects.</p>

  <p>A hive is made of a number of boxes. In each box hang about 10 frames, which the bees make comb on. The brood box is at the bottom, where the queen lays eggs and the workers raise them. On top of this are supers, which are smaller, and that's where the beekeeper would really rather the bees put the honey. To keep the queen from laying eggs in the supers, a queen excluder is placed between the brood box and the supers. It's a grid of wires that workers can get through but the queen can't.</p>
  <p>So there are three places I could put this microphone.</p>
  
  <h3>Underneath</h3>
  <p>One is underneath, kind of poking up. This is only temporary, as it's an external object and is sure to be glued to something sooner or later.</p>
  
  <h3>Queen Excluder</h3>
  <p>The queen excluder provides a useful space to connect things to, and is right in the centre of the hive.</p>

  <img src="/images/queenexcluder.jpg" alt="queenexcluder" class="img-responsive" />

  
  <h3>In the wall</h3>
  <p>The walls of a hive are quite thick. I could drill a hole and recess a microphone.</p>
  

  <h2>How do you put a microphone in a beehive?</h2>
  <p>You can get absolutely tiny electret microphones these days. I started by butchering a mobile phone earphone and microphone set. I immediately regretted it, as the mic is smaller than a match head.</p>

  <img src="/images/matchhead.png" alt="matchhead" class="img-responsive" />


  <p>I eventually managed to solder it onto some kynar wire, and later copper winding wire.</p>

  <img src="/images/soldering.jpg" alt="soldering" class="img-responsive" />

  <h2>How do you record?</h2>
  <p>I decided to use an Android tablet and write some custom software for it. </p>
  <p>So my setup looks like this:</p>


  <p>There is a thoroughly discredited paper saying that mobile phone signals can affect bee navigation. Discredited perhaps, but while it would have been great to use a mobile phone and have automatic uploads over the air, I didn't want to risk it. So I'm using bog standard wireless, and taking the tablet home to upload the sounds at periodic intervals.</p>

  <img src="/images/solarpanel.jpg" alt="solarpanel" class="img-responsive" />


  <p>This means that if you want to make recordings, all you have to do is find an android device, and plug a microphone in.</p>

  <img src="/images/probe.jpg" alt="probe" class="img-responsive" />


  <h2>How do you produce a timelapse?</h2>
  <p>I want to take regular recordings, but play back timelapses on different timescales. Also, because of the approximate alarm situation, I didn't have exactly timed samples.</p>
  <p>So I stored the recordings with the time they actually happened and then choose the nearest neighbour.</p>

  <img style="background-color: white" src="/images/nearest-neighbour.png" alt="nearest-neighbour" class="img-responsive" />

  <p>For example, if I have 24 hours recording every 5 minutes and I want to create a timelapse taken from every 18 minutes:</p>
  
  
  <h2>So what happens when you put a microphone in a beehive?</h2>
  
  <h3>Nibbling Bees</h3>

  <img src="/images/nibble.jpg" alt="nibble" class="img-responsive" />

  <p>I read somewhere that bees will eat paper voraciously. Here's how my probe came out after about 4 hours. Compared to a new microphone on the left.</p>
  <p>I'll need to do a bit more R&amp;D.</p>
  
  <h3>Singing Birds</h3>
  <p>I love birds, but that's not what I was here to do. In almost every ten-second recording, taken every 15 minutes, there's birdsong. I think I'll try and get the microphone further into the middle of the hive.</p>

  <h2>What does it sound like?</h2>
  <p>These are very early days. Here's a short time-lapse taken over four hours. Here's a spectrogram, which represents the frequencies present in the sound. Look near the very bottom (under 1khz) for the bees. You can see the chattering of the birds at about 30 seconds, about 2 kHz.</p>
  <p>Early days.</p>
  <p>I'm just getting started with my bees and my time-lapse beehive. This is early days, where 'days' means literally 'days'. I hope to have more recordings in the coming weeks.</p>
  <p>Check timelapsebeehive.com, follow me on twitter, @joewass . Get in contact if you're interested!</p>
  <p>Everything about this project is Open Source and Creative Commons.</p>

  <p>If you want some more technical detail <a href="http://blog.afandian.com/2015/06/the-timelapse-beehive/">check my blog</a>.</p>


</div>
{% endblock %}